*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
}
p a{
    color: #39f943;
}
                             /* Navigation bar  */
:root{
    --navbar-height: 90px;
}
.navbar{
    height: 90px;
    position: sticky;
    top: 0px;
    z-index: 200;
    background-color: #131313;
}
/* logo  */
.navbar a img{
    width: 100px;
    height: 100px;
    margin-left: 66%;
}

/* items */
nav{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

ul li{
    list-style: none;
    display: inline-block;
    border-radius: 20px;
    margin: 10px 30px;
}
ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.1rem;
}

ul li a:hover{
    text-decoration-color: rgb(93, 0, 255);
    text-decoration-line: overline;
}
.items:active {
    text-decoration-color: orange;
    text-decoration-line: overline;
}
button{
    background: none;
    border: 2px solid #4f4f4f;
    border-radius: 25px;
    color: #efefef;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 10px;
    outline: 0;
    overflow: hidden;
    padding: 10px 20px;
    font-size: 1rem;
    transition: all 0.4s;
    margin-right: 75px;
}
button:hover{
    background-color: #e69f37;
    border-color: rgb(184, 177, 177);
    text-shadow: 2px 2px 4px #000;
    transform: translateY(-0.25em);
}

/* Details Section  */
#details{
    margin-left: 5%;
    margin-top: 10%;
}
.hi p{
    font-size: 3rem;
}
.name p{
    font-size: 7rem;
}
.static{
    font-size: 3rem;
}
.dynamic li{
    font-size: 3.5

    rem;
    font-family: 'Source Code Pro', monospace;
    color: rgb(245, 152, 30);
}
#details{
    color: white;
}
.name p{
    font-family: 'Fira Sans', sans-serif;
}
.hi p , .static p{
    font-family: 'Source Code Pro', monospace;
}
.wrapper{
    display: flex;
}
.dynamic{
    margin: -14px 46px;
    height: 90px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dynamic li{
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 7.2s steps(4) infinite; /* at every 1.5s typing slide is 6s*/
}
@keyframes slide{
    100%{
        top: -360px;
    }
}
.dynamic li::after{
    content: "";
    position: absolute;
    /* background-color: black;   */
    left: 0;
    height: 100%;
    width: 100%;
    /* border-left: 2px solid white; */
    /* animation: typing 1.8s steps(10) infinite; */

}
/* @keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
} */
#container{
    display: flex;
    min-height: 85vh;
}
#logo img {
    width: 430px;
    height: 400px;
    margin-top: 70px;
    margin-left: 15px;
    z-index: 100;
}
#logo img{
    transition: 1.3s;
}
#logo img:hover{
    border: 5px solid #ec910a;
    border-radius: 100%;
    transform: scale(1.14);
    z-index: 0.2;
    cursor: pointer;
}
#social-icons img{
    filter: invert(100%);
    user-select: none;
    height: 50px;
    width: 50px;
    margin-left: -20px;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
#social-icons img:hover{
    padding: 2px;
    transition: all .2s ease-in;
}
#social-icons ul{
    display: inline-block;
}
#social-icons ul{
    display: flex;
    flex-direction: column;
}
#social-icons{
    background-color: rgba(16, 209, 239, 0.18);
    right: 3%;
    margin-top: 4%;
    width: 5%;
    position: fixed;
    border-radius: 30px;
}

/* INTEGRITY */
#int-me{
    align-items: center;
    background: linear-gradient(to bottom left,#000,#1b2026);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
#int-wrapper{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 80%;
}
#int img{
    height: 65vmin;
}
#int h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
#int p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#int{
    color: #fefefe;
    flex: 1 1;
    margin: 15px;
    padding: 20px;
}

/* ABOUT ME */
#abt-me{
    align-items: center;
    background: linear-gradient(to bottom left,#000,#1b2026);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
#about-wrapper{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 80%;
}
#about-img img{
    height: 65vmin;
}
#about-text h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
#about-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#about-text{
    color: #fefefe;
    flex: 1 1;
    margin: 15px;
    padding: 20px;
}


/* PROJECTS SECTION  */
#prohr, #exphr{
    margin-left: 6%;
}
#pro,#exp{
    font-family: 'Fira Sans', sans-serif;
    margin-right: 4%;
    font-size: 3rem;
    color: white;
    text-align: center;
}
#projects{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgba(236, 146, 62, 0.13);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    max-height: 100%;
    min-height: 75vmin;
    padding: 5px;
    width: 80%;
    margin-right: 122px;
}
#skills, .skill-item{
    align-items: center;
    display: flex;
}
#skills{
    margin-left: 10%;
}
.skill-item>img {
    height: 5vmin;
    object-fit: contain;
    width: auto;
}
.skill-item>p {
    font-size: 2.5vmin;
    font-weight: 700;
    margin-left: 10px;
}
.skill-item {
    background: hsla(0,0%,100%,.18);
    border-radius: 5px;
    color: #fefefe;
    font-size: 3vmin;
    margin: 10px;
    justify-content: space-evenly;
    padding: 8px;
    text-align: center;
    text-shadow: 2px 2px 4px #1b0021;
}
#project-img img {
    width: 85vmin;
    border: 40px solid rgb(70, 70, 70);
    border-radius: 20px;
    margin-left: 65px;
}
#project-text h1{
    margin-left: 22%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.2rem;
    color: white;
}
#project-text a{
    text-decoration: none;
}
#text-hr{
    width: 73%;
    margin-left: 22% ;
}
#project-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    margin-left: 22%;
    margin-right: 4%;
}
/* Experience */
.exp-items {
    list-style: none;
  }
  
.exp-items li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    /* margin-left: -1em; */
}
.exp1{
    color: white;
    font-size: 3rem;
    margin-left: 9%;
}
.exp-items{
    background-color: rgb(30, 28, 28);
    width: 80%;
    margin-left: 5.5%;
}
.p-item{
    color: white;
    font-size: 1.3rem;
    margin-left: 12%;
}
#exp-item-hr{
    width: 73%;
    margin-left: 9%;
}
.exp1-1{
    color: white;
    font-size: 3rem;
    margin-left: 11.5%;
}

footer p{
    color: white;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2%;
}


/* RESPONSIVE */

@media screen and (max-width: 1239px){
    #logo img {
        width: 320px;
        height: 310px;
        margin-top: 39px;
    }
    #details {
        margin-left: 5%;
        margin-top: 6%;
    }
    #social-icons img {
        filter: invert(100%);
        user-select: none;
        height: 40px;
        width: 45px;
        margin-left: -23px;
        display: inline-block;
        fill: currentcolor;
        flex-shrink: 0;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
}
@media screen and (min-width:950px) {
    .burger{
        display: none;
    }
    
}


.contact-container {
    margin: 30px 0;
}
.form-container {
    margin: auto;
    width: 60%;
}

label {
    font-size: 16px;
    color: #273f5b;
}

.form-group {
    margin-bottom: 15px;
}

.textbox {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(214, 26, 39);
    font-family: -webkit-pictograph;
  }
  
  .textarea {
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(104, 8, 231);
    font-family: -webkit-pictograph;
  }
  
  .submitBtn {
    padding: 12px;
    background-color: #fecf39;
    border-radius: 5px;
    color: #273f5b;
    font-size: 15px;
    font-family: monospace;
    margin-top: 10px;
    border: 2px solid #fecf39;
    cursor: pointer;
    text-decoration: none;
  }
  
  .submitBtn:hover {
    background-color: #273f5b;
    color: #ffffff;
    border: 2px solid #273f5b;
  }

.hourlyRate {
    display: none;
}
 
  
  @media only screen and (max-width: 600px) and (min-width: 0px) {
    .textbox {
      width: 142%;
    }
    .textarea {
      width: 150%;
    }
    .submitBtn {
      margin-top: 10px;
    }

    .form-group {
      width: inherit;
    }

  }
  
  @media only screen and (max-width: 900px) and (min-width: 601px) {
    .textbox {
      width: 70%;
      margin-left: -10%;
    }
    .textarea {
      width: 75%;
      margin-left: -10%;
    }
    .submitBtn {
      margin-left: -10%;
    }

    .form-group {
      width: inherit;
    }
  }




